.login-container {
    max-width: 400px;
    background-color: white;
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center;
}

.login-container h2 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f7cb07;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password a {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #0056b3; /* Darker blue on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-a {
        gap: 10px;
        margin-top: 10px;
    }
}